[submodule "ch32-hal"]
	path = ch32-hal
	url = git@github.com:vapor-keeb/ch32-hal.git
[submodule "qingke"]
	path = qingke
	url = git@github.com:vapor-keeb/qingke.git
[submodule "usb-dfu-target-rs"]
	path = usb-dfu-target-rs
	url = git@github.com:vapor-keeb/usb-dfu-target-rs.git
[submodule "async-usb-host"]
	path = async-usb-host
	url = git@github.com:vapor-keeb/async-usb-host.git
[submodule "embassy"]
	path = embassy
	url = git@github.com:vapor-keeb/embassy.git
