[submodule "ch32-hal"]
	path = ch32-hal
	url = git@github.com:vapor-keeb/ch32-hal.git
[submodule "qingke"]
	path = qingke
	url = git@github.com:vapor-keeb/qingke.git
[submodule "embassy"]
	path = embassy
	url = git@github.com:vapor-keeb/embassy.git
